Confirm registration on STDev Management
=====
<p>Hello {{name}},</p>

<p>To complete registration process in STDev Management please click on following link:</p>

<p>{{confirm_registration_link}}</p>

<p>Thanks</p>
